# Dependências
/node_modules

# Arquivos de compilação
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de IDE
.vscode
.npmrc

# Arquivos temporários e backups
*.tmp
*.log
*.bak
*.old
*.orig
*.backup
*.tgz
*.tar.gz

# Scripts de desenvolvimento
*.py
